main, h1{ 
  padding: 1em;
  color: orangered
}

li{
  list-style-type: none;

}
html{
  background-color: lightgray;
}

img{
  border-radius: 20px;
  height: 10rem;
  width: auto;

}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

img, nav ul li{
  box-shadow: 10px 5px 5px black;
}
